body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #191A19;
    color: #D8E9A8;
}

header {
    height: 10em;
    padding: 1em;
    font-size: 2.1em;
    background-image: url(..assets/img/guachupe-banner-color.jpg);
    background-size: cover;
    background-position: center;
}

#titulo {
    font-size: 1.4rem;
}

#subtitulo {
    font-size: 1.2rem;
}

.fotos {
    width: 350px;
    margin-top: 4rem;
}

.productos .textos {
    display: inline-block;
}

.productos .imagenes {
    display: inline;
}

.imagenes {
    margin: 3rem 2rem 5rem 6rem;
}

footer {
    height: 2.5em;
    line-height: 2.5em;
    background-color: rgb(175, 56, 30);
    color: antiquewhite;
    text-align: center;
    font-size: 1em;
}